# https://alacritty.org/config-alacritty.html

[terminal.shell]
program = "/bin/zsh"
args = ["-l"]

[window]
dimensions = { columns = 240, lines = 80 }
padding = { x = 5, y = 5 }
dynamic_padding = true

[font]
normal.family = "MonaspiceNe Nerd Font"
size = 14
offset = { x = 0, y = 2 }
glyph_offset = { x = 0, y = 1 }

[env]
TERM = "xterm-256color"

# Colors: Selenized light
# See: https://github.com/jan-warchol/selenized/tree/master/terminals/alacritty
[colors.primary]
background = '0xfbf3db'
foreground = '0x53676d'
[colors.normal]
black = '0xe9e4d0'
red = '0xd2212d'
green = '0x489100'
yellow = '0xad8900'
blue = '0x0072d4'
magenta = '0xca4898'
cyan = '0x009c8f'
white = '0x909995'
[colors.bright]
black = '0xcfcebe'
red = '0xcc1729'
green = '0x428b00'
yellow = '0xa78300'
blue = '0x006dce'
magenta = '0xc44392'
cyan = '0x00978a'
white = '0x3a4d53'

[keyboard]
bindings = [
  # The default "Space"+"Shift|Control" keybinding for this is captured by the
  # Mac OS for something... it doesn't trigger Vi mode unless I remap it here.
  { key = "Space", mods = "Shift|Alt", mode = "~Search", action = "ToggleViMode" },
  { key = "Right", mods = "Alt", chars = "\u001BF" },
  { key = "Left", mods = "Alt", chars = "\u001BB" },
]

[terminal]
